## Virtual Environment
.venv/
.idea/

## Big Data: images
mobile_images/
mobile_images_v2/
mobile_images_v3/
fairphone/
iphone/
oneplus/
pixel_8/
samsung/
xiaomi/
test_images/
train_images/
practice/images
practice/images_test1
practice/images_test2
datasets/images
datasets/distributed_images
datasets/source_images
datasets/
model_development/images

## Irrelevant files
practice/
project_update.txt
requirements.txt

