<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="homepage_style.css">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  </head>
  <body>
    <header class="header">

      <!-- Navigation bar: Homepage ----------------------------------------->

      <nav class="navbar">
        <a href="index.html" class="header-mobile-classifier">MobileClass.</a>
        <ul>
          <li><a href="index.html" class="navtab">HOME</a></li>
          <li> <a href="inventory.html" class="navtab">INVENTORY</a></li>
          <li> <a href="project.html" class="navtab">PROJECT</a></li>
          <li> <a href="contributor.html" class="navtab">CONTRIBUTOR</a></li>
        </ul>
      </nav>

    </header>

    <!-- Main page: include all content related to homepage ----------->
    <h1>Mobile Image Classifier</h1>

    <!-- Image Upload Box Container --------->
    <div class="img-container">
      <div class="card-image">
        <img src="samsung_a546_galaxy_a54_5g_awesome_graphite_front2.png"
          class="card-image">
      </div>
    </div>

    <!-- Upload Button Container ------- -->
    <div class="upload-text">
      <span>Upload image</span>
    </div>
    <div class="upload-button">
      <button class="waves-effect waves-light btn"
        class="upload-button"
        id="upload-button"><i
          class="material-icons left">Upload</i>button</button>
    </div>

    <!-- Label Container-->
    <div class="label-container">
      <span class="card-title2">Predicted Mobile Brand</span>
    </div>
    <div class="mobile-pred-label" id="mobile-pred-label">
      <span class="mobile-pred-label">Samsung</span>
    </div>

    <!-- Compiled and minified JavaScript -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </html>