<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="homepage_style.css">
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  </head>
  <body>
    <header class="header">

      <!-- Navigation bar: Homepage ----------------------------------------->
      <nav class="navbar">
        <a href="index.html" class="header-mobile-classifier">MobileClass.</a>
        <ul>
          <li><a href="index.html" class="navtab">HOME</a></li>
          <li> <a href="inventory.html" class="navtab">INVENTORY</a></li>
          <li> <a href="project.html" class="navtab">PROJECT</a></li>
          <li> <a href="contributor.html" class="navtab">CONTRIBUTOR</a></li>
        </ul>
      </nav>

    </header>

    <!-- Main page: include all content related to homepage ----------->
    <h1>Inventory Catalogue</h1>

  </body>
  <!-- Compiled and minified JavaScript -->
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</html>